{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Igor Limarev">
    <title>{% trans "Ingredient order" %}</title>


    <!-- Jquery core -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!-- Bootstrap core  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'foodprod/styles.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
    <a class="navbar-brand" href="{% url 'foodprod:index' %}">{% trans "Ingredient order" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'foodprod:ingredients' %}">{% trans "Ingredients" %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'foodprod:orders' %}">{% trans "Orders" %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'notes:notes' %}">{% trans "Notes" %} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'foodprod:index' %}" method="GET">
            <input required class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                   name="search_query" value="{{ search_query }}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
        {% if user.is_authenticated %}
            <a href="{% url 'registration:logout'%}" type="button" class="ml-4 btn btn-outline-dark align-items-center">{% trans "Sign out" %}</a>
        {% else %}
            <a href="{% url 'registration:login'%}" type="button" class="ml-4 btn btn-outline-dark align-items-center">{% trans "Sign in" %}</a>
            <a href="{% url 'registration:register'%}" type="button" class="ml-2 btn btn-outline-dark align-items-center">{% trans "Register" %}</a>
        {% endif %}
    </div>
</nav>

<main role="main">

    <div class="container">

        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; {% trans "Igor Limarev" %} 2019</p>
</footer>

</body>

</html>


