{% extends "foodprod/base.html" %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">List of dishes</h6>
        {% for dish in object_list %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{ dish.name }}</strong>
                {{ dish.description }}
              </p>
            </div>
        {% empty %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">No dishes yet.</strong>
              </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


