{% extends "foodprod/base.html" %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">List of dishes</h6>
        <div class="row">
            <a href="{% url 'foodprod:dish_create' %}" type="button" class="mt-2 mx-2 btn btn-outline-success btn-sm align-items-center">Add dish</a>
        </div>
        {% for dish in object_list %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <a href="{% url 'foodprod:dish' dish.id%}" class="d-block text-gray-dark">{{ dish.name }}</a>
                {{ dish.description }}
              </p>
            </div>
              <div class="row">
                <a href="{% url 'foodprod:order_create' dish.id%}" type="button" class="ml-2 btn btn-outline-primary btn-sm align-items-center">Order</a>
                <a href="{% url 'foodprod:dish_update' dish.id%}" type="button" class="ml-2 btn btn-outline-secondary btn-sm align-items-center">Edit</a>
                <a href="{% url 'foodprod:dish_delete' dish.id%}" type="button" class="ml-2 btn btn-outline-danger btn-sm align-items-center">Delete</a>
              </div>
        {% empty %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <strong class="d-block text-gray-dark">No dishes yet.</strong>
              </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


