{% extends "foodprod/base.html" %}
{% load i18n %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <h6 class="border-bottom border-gray pb-2 mb-0">{% trans "List of ingredients" %}</h6>
        </div>
        <div class="row">
            <a href="{% url 'foodprod:ingredient_create' %}" type="button" class="mt-2 mx-2 btn btn-outline-success btn-sm align-items-center">{% trans "Add ingredient" %}</a>
        </div>
        {% for ingredient in object_list %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <a href="{% url 'foodprod:ingredient' ingredient.id%}" class="d-block text-gray-dark">{{ ingredient.name }}</a>
              </p>
            </div>
            <div class="row">
                <a href="{% url 'foodprod:ingredient_update' ingredient.id %}" type="button" class="ml-2 btn btn-outline-secondary btn-sm align-items-center">{% trans "Edit" %}</a>
                <a href="{% url 'foodprod:ingredient_delete' ingredient.id %}" type="button" class="ml-2 btn btn-outline-danger btn-sm align-items-center">{% trans "Delete" %}</a>
            </div>
        {% empty %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <strong class="d-block text-gray-dark">{% trans "No ingredients yet." %}</strong>
              </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


