{% extends "foodprod/base.html" %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ object.name }}</h6>
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <strong class="d-block text-gray-dark">{{ object.description }}</strong>
              </p>
            </div>
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <strong class="d-block text-gray-dark">Ingredients:</strong>
              </p>
            </div>
        {% for ingredient in object.ingredients.all %}
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 lh-125">
                <strong class="d-block text-gray-dark">{{ ingredient.name }}</strong>
              </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}


